@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #dbdbdb;
  --color-primary-dull: #ffffff;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background-color: #09090B;
}

.no-scrollbar{
  scrollbar-width: none;
}